Options +FollowSymLinks
RewriteEngine on
RewriteRule G_FILE1/$ index.php?file=gradenewjob [L]
RewriteRule G_FILE2/$ index.php?file=startgrading [L]
RewriteRule G_FILE3/$ index.php?file=scoregrading [L]
RewriteRule L_FILE1.htm$ index.php?file=LI_CHECK [L]
RewriteRule L_FILE2.htm$ index.php?file=LI_CHANGEPASS [L]
RewriteRule L_FILE5.htm$ index.php?file=LI_PASSREMIND [L]
RewriteRule B_FILE1/$ index.php?file=GH_SHOW [L]
RewriteRule B_FILE2/$ index.php?file=JT_SHOW [L]
RewriteRule B_FILE3/$ index.php?file=CM_SHOW [L]
RewriteRule B_FILE4/$ index.php?file=VC_CMADDEDIT [L]
RewriteRule B_FILE5/$ index.php?file=VC_SRCH [L]
RewriteRule B_FILE6/$ index.php?file=VC_COADDEDIT [L]
RewriteRule B_FILE7/$ index.php?file=VC_CRDTS [L]
RewriteRule B_FILE8/$ index.php?file=JT_GETJOB [L]
RewriteRule B_FILE9/$ index.php?file=JT_ADDEDIT [L]
RewriteRule B_FILE10/$ index.php?file=VC_CHANGE [L]
RewriteRule B_FILE11/$ index.php?file=VS_NOTES [L]
RewriteRule B_FILE12/$ index.php?file=GR_SHOW [L]
RewriteRule B_FILE13/$ index.php?file=GR_MAIL [L]