#GR_FRAME
{
    position: relative;
    text-align: left;
    padding: 2%;
    border: 1px solid #0f5b77;
    border-top: none;
    margin-bottom: 75px;
    background-color: white;
}
tr td
{
    border-left: 1px solid #969696;
    border-bottom: 1px solid #969696;
}

tr td:last-child
{
    border-right: 1px solid #969696;
}

tr:first-child td
{
    font-weight: 700;
    font-size: 14px;
    border-top: 1px solid #969696;
    background-color: #F0F0F0;
}

tr td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7)
{
    text-align: center;
    width: 12%;
}
tr td:last-child
{
    text-align: right;
}
tr td:first-child
{
    width: 20%;
}

tr td:nth-child(3)
{
    width: 9%;
}
tr td:nth-child(3),td:nth-child(4)
{
    width: 9%;
}
tr td:nth-child(5),td:nth-child(6),td:nth-child(7)
{
    width: 8%;
}

div.GR_SORT{width: 100%; text-align: center; margin: 10px;}
div.GR_SORT div{ display: inline-block; vertical-align: top; width: 100px; color: #585858; margin: 5px; text-align: center; padding: 10px 2px 10px 2px; border-radius: 5px; background-color: #F0F0F0; border: 1px solid #D0D0D0; box-shadow: 3px 3px 1px #888888;  }
div.GR_SORT div:hover{ cursor: pointer; background-color: #a4b485; }
