.SQ_WRAPPER
{
    position: relative;
    text-align: left;    
    background-color: white;
    padding: 2%;  
    margin-bottom: 75px;
    border: 1px solid #0f5b77;
    border-top: none;  
}

.SQ_WRAPPER li
{
    padding: 8px; 
    font-size: 16px;
}

.SQBNTS{ height: 70px; margin-top: 10px; }

div.A{ font-size: 17px; padding: 15px 0px 15px 0px; }

/*MENU*/
div.BCDE{ padding: 5px; }
div.BCDE span{ display: inline-block; vertical-align: top; width: 60px; margin: 0px 5px 0px 0px; border: 1px solid #E0E0E0; border-radius: 5px; padding: 6px 2px 6px 2px; text-align: center; font-size: 0.8em; }
div.BCDE span:hover{ cursor: pointer; background-color: #a4b485; }
.BCDE_I{ background-color: rgb(240, 240, 240); }
.BCDE_A{ background-color: #FFC0C0; }
.BCDE_A:hover{ background-color: #FFC0C0; }

/*aplhabet*/
ul.GG { list-style-type: none; padding: 0; margin: 10px 0px 20px 0px; text-align: left; }
li.G { display: inline-block; vertical-align: top; min-width: 23px; padding: 3px; margin: 2px; text-align: center; cursor: pointer; font-size: 1.7em; border-style: solid; border-width: 1px; border-radius: 5px; }
li.G:hover { cursor: pointer; font-weight: 900; }
li.G1{ border-color: white; }
li.G2{ border-color: #808080; }
li.G3{ border-color: white; color: #0c5a76; }
li.G4 { display: inline-block; vertical-align: top; border-color: #808080; width: 127px; padding: 0; margin: 2px; text-align: center; border-style: solid; border-width: 1px; border-radius: 5px; }
#SRCHKW{ text-decoration: none; width: 120px; height: 23px; text-align: center; border: none; padding: 3px; margin: 0;  background-repeat: no-repeat; background-position: center center; border-radius: 5px; }
.SRCHIMG{ background-image: url(/images/search.jpg); }
.SRCHIMG:focus{ background-image: none; }

/*EA ITEM*/
.HH{ text-align: left; }
div.HH1{ display: none; }
div.HROW{ width: 100%; }
h3.HDR{ display: block; text-align: left; }
div.H { display: inline-block; vertical-align: top; position:relative; min-width: 200px; max-width: 300px; width: 90%; margin-bottom: 1em; padding: 3px 0px 5px 32px; text-align: left; }
div.H:hover { font-weight: 700; cursor: pointer; }
div.H1 { background-image: url(/images/tick.png); background-repeat: no-repeat; background-size: 20px 20px; background-position: 0; }
div.H2 { background-image: url(/images/ticked.png); background-repeat: no-repeat; background-size: 20px 20px; background-position: 0; }
div.H3 { display: none; }

.JT_ALL{ position:relative; text-align: center; width: 100%; max-width: 350px; min-width: 250px;} 

.JTINPUT
{
    text-decoration: none;
    display: inline;
    margin: 5px 5px 15px 10px;
    padding: 7px 0px 1px 0px;
    width: 300px;
    text-align: center;
    border: none;
    border-bottom: 1px dotted #C0C0C0;
    font-size: 15px;
    color: #585858;
    font-family: mmfont;
    font-weight: 300;
    background-image: url(/images/exclaim.png);
    background-repeat: no-repeat;
    background-position: left -50px;
}
.JT_HEADER h2
{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    margin: 4px;   
}
.JT_BTNS
{
    width: 100%;   
    text-align: center;
    height: 75px;
}

div.IH { width: 150px; margin: 0px 3px 6px 50px; padding: 3px 0px 5px 32px; text-align: left; height: 17px; }
div.IH:hover { font-weight: 700; cursor: pointer; }
div.IH1 { background-image: url(/images/tick.png); background-repeat: no-repeat; background-size: 20px 20px; background-position: 0; }
div.IH2 { background-image: url(/images/ticked.png); background-repeat: no-repeat; background-size: 20px 20px; background-position: 0; }
div.IH3 { display: none; }


