.SQ_WRAPPER
{
    position: relative;
    text-align: center;
    padding: 2%;
    border: 1px solid #0f5b77;
    border-top: none;
    margin-bottom: 75px;
    background-color: white;   
}

input
{
    text-decoration: none;
    display: inline;
    margin: 5px 10% 15px 10%;
    padding: 7px 0px 1px 0px;
    width: 300px;
    text-align: center;
    border: none;
    border-bottom: 1px dotted #C0C0C0;
    font-size: 17px;
    color: #585858;
    font-family: mmfont;
}
